<ul id="requests_made">
 <h3>My Requests</h3>

  <h4>Requests Made:</h4>
  <% i=0 %>
  <% @requests_made.map do |request|  %>
  <% if  request.booking_confirmed == false %>
    <li id='<%=request.id%>'>
    Request number: <%= i += 1 %>
    Booking date: <%= request.booking_date %>
    Space name: <% space = Space.all(id: request.space_id) %>
    <% space.map do |space| %> <%= space.name %>
    Hosts name: <%= User.get(space.user_id).name %>
    <% end %>
  </li>
    <br>

  <% end %>

  <% end %>
  <br>
</ul>

<ul id="requests_received">
  <h4>Requests Received:</h4>
  <% i=0 %>
  <% @all_requests.each do |request| %>
    <% if @my_spaces.include?(request.space_id) %>
      <% if request.booking_confirmed == false %>
        <li id='<%=request.id%>'>
        Request number: <%= i += 1 %>
        Booking date: <%= request.booking_date %>
        Space name: <% space = Space.all(id: request.space_id) %>
        <% space.map do |space| %> <%= space.name %> <% end %>
        Requesters name: <%= User.get(request.user_id).name %>

          <form action='/booking_accept' method='post'>
            <input type='hidden' value='<%=request.id%>' name='id'>
            <input type='submit' value='Accept'>
          </form>

          <form action='/booking_reject' method='post'>
            <input type='hidden' value='<%=request.id%>' name='id'>
            <input type='submit' value='Reject'>
          </form>

        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
