<ul id="spaces">

  <% @spaces.each do |space| %>

  <li id="<%=space.id %>">

    Space Name: <%= space.name %>
    Space description: <%= space.description %>
    Space price per night: <%= space.price_per_night %>
    Space available from: <%= space.available_from %>
    Space available to: <%= space.available_to %>
    <form action='/space/edit' method="POST">
      <input type="hidden" value="<%=space.id %>" name='id'>
      <input type="submit" value="Edit space" >
    </form>
  </li>
  <% end %>
  
</ul>
