<!DOCTYPE html>
<html>
Welcome, <%= @current_user.name.split.first.capitalize %>!
<br> Spaces <br>
<form action="/space/new">
  <input type="submit" value="Add space">
</form>

<form action="space/host">
  <input type="submit" value="My spaces">
</form>
<form action="/requests">
  <input type="submit" value="My requests">
</form>

<form action="/bookings">
  <input type="submit" value="My bookings">
</form>

<form action="space/filter" method="post">
  <label>Search Availability</label><input type="date" name='search_availability' value='<%= @search_availability %>'>
  <input type="submit" value="Search">
</form>


<ul id="spaces">

  <% @spaces.each do |space| %>
    <% space.bookings.each do |booking| %>
      <% if booking.booking_confirmed == false %>

        <li id="<%=space.id %>">
          <%= booking.booking_confirmed %>
          Space Name: <%= space.name %>
          Space description: <%= space.description %>
          Space price per night: <%= space.price_per_night %>
          Space available from: <%= space.available_from %>
          Space available to: <%= space.available_to %>
          <form action='/request' method='post'>
            <input type="hidden" value="<%= space.id %>" name="requested_space_id">
            <input type='submit' value='Request'>
          </form>
        </li>

      <% end %>
    <% end %>
  <% end %>

</ul>

</html>
